html, body { margin:0; padding:0; left:0; top:0; }
 

/********************************************************************************
  Layout
 ********************************************************************************/
.s_top { position: fixed; left:0; top:0; margin:0; padding:0; width:100%; height:40px; z-index:100; }
    .s_top ul { display: inline-block; list-style-type: none; margin:0; padding:0 10px; height:40px; overflow: hidden; }
        .s_top li { float:left; height:40px; }
            img.logo { width:25px; height:25px; margin:8px; }
            .companyName { line-height:40px;}
    ul.s_menu { float: right; }
            .s_menu a { display: block; line-height:40px; padding:0 10px; }

.s_main { position: relative; margin:0 auto; padding:0 10px; width:920px; height:100vh; }
    .s_container { position: relative; margin:0; margin-top:50px; padding:0; width:100%; }   

/********************************************************************************
  Design
 ********************************************************************************/
body { background: #1E2D3F; line-height: 1.2; /*box-sizing:border-box;*/ font-family: 'Poiret One', cursive !important; font-size:14px; }
input, textarea, select, button { font-family: 'Poiret One', cursive !important; font-size:14px; }
li { box-sizing:content-box; }

h1
{
    margin:0;
    padding:0;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}

.bold { font-weight:600; }

a:hover,
a:visited,
a:active,
a:link { text-decoration:none; }

.q1 { quotes: "“" ""; }
.q2 { quotes: "" "”"; }
.q3 { quotes: "" "„"; }

button:hover,
input[type=submit]:hover
{ cursor: pointer; background: #E53636 !important; border-color:#E53636 !important; }

/****************************************
  Top Menu
 ****************************************/
.s_top { background:#293D57; border:0px; }

/* Hightlight menu of current page */
.s_top .about .about,
.s_top .food .food,
.s_top .delivery .delivery,
.s_top .faq .faq,
.s_top .feedback .feedback,
.s_top .contactus .contactus,
.s_top .login .login,
.s_top .info .info,
.s_top .signup .signup,
.s_top .mypage .mypage,
.s_top .adminpage .adminpage
{
    background:#E53636;
}

/* Mouse over on menu */
/* .s_top li.about:hover,
.s_top li.food:hover,
.s_top li.delivery:hover,
.s_top li.faq:hover,
.s_top li.feedback:hover,
.s_top li.contactus:hover,
.s_top li.login:hover,
.s_top li.signup:hover */
.s_top .menu:hover
{
    background:orange;
}

.s_top .gap.menu:hover { background:transparent; }
.s_top .gap { width:30px; }

.companyName a
{
    font-family: 'Poiret One', cursive;
    font-size:20px;
    color:white;
}

.s_menu
{
    font-family: 'Poiret One', cursive;
    color:#fff;
}

.s_menu a
{
    color:#fff;
    text-decoration: none;
    text-align: center;
}

.menuTab { display:none; width:100%; }


/****************************************
  Layers
 ****************************************/
.s_container
{
    font-family: 'Poiret One', cursive;
}

.s_container div.layer
{
    background:#fefefe;
    border-radius: 3px;
}

/****************************************
  Form Invalidation
 ****************************************/

.invalidation
{
    border-top:1px solid #ff000061 !important;
    border-right:1px solid #ff000061 !important;
    border-bottom:1px solid #ff000061 !important;
    border-left-color:#ff000061 !important;
}
select.invalidation { border-left:1px solid #ff000061 !important; }

.vaildationPopup
{
    position: absolute;
    font-size:10px;
    color:#ff000061;
}
.vaildationPopup.selector { margin-top:-10px; }
.vaildationPopup.txtMessage { margin-top:15px; }
    

/****************************************
  Tablet & Phone
 ****************************************/

 /* Phone */
@media only screen and (max-width:420px) {}
@media only screen and (max-width:690px)
{
    ul.s_menu
    {
        overflow:auto;
        height:auto;
    }

    ul.s_menu li
    {
        display: none;
        float: none;
        height:auto;
        background:#333;
    }

    ul.s_menu li.menuTab a { text-align: right; }

    ul.s_menu li.menuTab { display: block; background:#2a3e57; }
    ul.s_menu:hover li { display: block !important; }
}

@media only screen and (min-width:421px) and (max-width:690px){}
@media only screen and (min-width:691px) and (max-width:940px){}