/********************************************************************************
  Layout
 ********************************************************************************/
    /* Layer A */
    #layerA div.menuIcon { margin:0; padding:0; width:35px; height:35px; }
    #layerH, #layerJ { margin-bottom:15px; }

.layer { position:absolute; }

/* Bootstrap hack */
.s_main .s_container #layerE .container { width:100% !important; }
@media (min-width: 0px){ .container { max-width: 100% !important; } }

/********************************************************************************
  Design
 ********************************************************************************/
#layerA div.menuIcon.home:hover,
#layerA div.menuIcon.social:hover
{ cursor: pointer; opacity: .7 !important; }

/****************************************
  Main
 ****************************************/
.layer { border:0px; overflow: hidden; }


/****************************************
  Layer A
 ****************************************/
#layerA { background:#cae7ff; }
#layerA div.menuIcon.home
{
    background: transparent url("/imgs/home.png") no-repeat 2px 3px;
    background-size:32px;
}
#layerA div.social{
    background: transparent url("/imgs/social_icons.png") no-repeat right top;
    background-size:130px;
}
#layerA div.menuIcon.social.facebook{ background-position: 1px 2px; }
#layerA div.menuIcon.social.tweeter { background-position: -95px 2px; }
#layerA div.menuIcon.social.youtube { background-position: 1px -30px; }
#layerA div.menuIcon.social.vimeo { background-position: -63px -30px; }

/****************************************
  layer J : Bottom
 ****************************************/
#layerJ
{
    background: #fff6e7;
}

#layerJ div.bg
{
    position: absolute;
    left:0px;
    top:0px;
    width: 250px;
    height: 180px;
    overflow: hidden;
    border-radius: 3px 0 0 3px;
}
#layerJ .bg img
{   
    position: relative;
    left:-30px;
    width: 333px;
}

#layerJ .gMap
{
    position: absolute;
    left:250px;
    top:0px;
    width: 190px;
    height: 160px;

    margin:10px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: #d4d4d4 1px 1px 5px 1px;
}

#layerJ .contactus
{
    position: absolute;
    left: 460px;    
}
#layerJ .contactus h1 { margin:20px 5px; color:#00b0f0; }
#layerJ .contactus p { margin:10px 0;}
#layerJ .contactus p.newline { margin:-15px 0 0 27px; }
#layerJ .contactus img { width:20px; margin-right:7px; }
#layerJ .contactus span { vertical-align: top; font-size:12px; line-height:20px; }

/****************************************
  Star rating with heart symbol
 ****************************************/
.fa.heart:before { color:orange; }
.fa.heart:after { color:#ccc; }
.fa.heart.rating5:before { content: "\f004\f004\f004\f004\f004"; }
.fa.heart.rating4:before { content: "\f004\f004\f004\f004"; }
.fa.heart.rating4:after { content: "\f004"; }
.fa.heart.rating3:before { content: "\f004\f004\f004"; }
.fa.heart.rating3:after { content: "\f004\f004"; }
.fa.heart.rating2:before { content: "\f004\f004"; }
.fa.heart.rating2:after { content: "\f004\f004\f004"; }
.fa.heart.rating1:before { content: "\f004"; }
.fa.heart.rating1:after { content: "\f004\f004\f004\f004"; }
.fa.heart.rating0:before { content: ""; }
.fa.heart.rating0:after { content: "\f004\f004\f004\f004\f004"; }
.fa.heart.rating
{
    height: 25px;
    line-height: 25px;
    margin: 0 7px 0 10px;
}
.fa.heart.rating:before { content: "\f004"; }

div.ratingBox
{
    position: absolute;
    top:40px;
    right:0px;
    height:25px;
    width:60px;
    background:#fdc64e;
    border-radius:3px 0 0 3px; 
}
div.ratingBox span
{
    display:inline-block;
    vertical-align:top;
    height:25px;
    line-height:25px;
    color:#fff;
    font-weight:600;
}