/****************************************
  Layer B : Random Food
 ****************************************/
ul.foodInfo { margin:0; padding:25px; border-radius: 0 0 3px 3px;}
#layerC ul.foodInfo { float:right; text-align:right; }
ul.foodInfo .rating,
ul.foodInfo .rating i { height:30px;  line-height: 30px; }
ul.foodInfo .views ul { display: inline-block; margin:10px 0; padding:0; }
#layerB ul.foodInfo .order button,
#layerC ul.foodInfo .order button { height: 30px; width: 90px; margin:0px; }
#layerB ul.foodInfo .order button { float:left; }
#layerC ul.foodInfo .order button { float:right; }

ul.foodInfo .order button { display: block; margin:10px auto; height: 30px; width:90%; }

ul.foodInfo ul,
ul.foodInfo li
{
    list-style: none;
}

ul.foodInfo .text
{
    font-size: 12px;
    font-weight: 600;
    color: #444;
}

ul.foodInfo .views .slash
{
    font-size: 30px;
    color:#666;
}

ul.foodInfo .order button
{
    border-radius:3px;
    background:#8BBF5D;
    font-size:14px;
    color:#fff;
    border:0px;
}

#layerB img.bgFood,
#layerC img.bgFood
{
    position: absolute;
    bottom:4px;
}
#layerB img.bgFood { right:15px; width:50%; }
#layerC img.bgFood { left:15px; width:50%; }

/****************************************
  Delivery
 ****************************************/
.relative { position: relative; float:left; }
.rightMargin15px { margin-right:15px; }
.deliveryItemsContainer { position: relative; }
.item
{
    position: relative;
    float: left;
    width:219px;
    height:300px;
    background:#fbfbfb;
    border-radius: 3px;
}
.item.col { margin:0 15px 15px 0; }
.item.colLast { margin:0 0px 15px 0; }
/* .item.min1px { width:218px !important; } */

.item .bgFood
{
    display: block;
    height:35%;
    /* width:80%; */
    margin:20px auto;
}
.item ul.foodInfo
{
    position: absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:50%;
    background: #5ad9ff;
    padding:0px;
    border-top:1px solid #3ed8ff;
}

.item ul.foodInfo .name h1 { height:35px; line-height:40px; font-size:16px; padding-left:10px; color:#024c7b; }
.item ul.foodInfo .desc { width:90%; height:63px; font-size:12px; margin:0 auto; color:#fff; overflow: hidden; }
.item .ratingBox { top : 10px; font-size:12px; width:50px; }
.item .fa.heart.rating { margin:0 2px 0 5px; }


/****************************************
  Banner
 ****************************************/
#layerH .bg { height:70%; width: 134px; margin: 25px 15px; }
 #layerH ul 
{
    position: absolute;
    right:20px;
    top: 0px;
    list-style: none;
    text-align: right;
    margin: 0px;
    width: 50%;
    padding: 60px 0 0 0;
    height: 100%;
    font-size: 35px;
    font-weight: 600;
    color: #68b8dd;
}


/* Bootstrap */
#layerE div.container { padding:0 !important; }
#layerE div.row { margin-left:0 !important; margin-right:0 !important; }
#layerE div.col-sm { padding:0px; }

/****************************************
  Responsive
 ****************************************/
/* Phone */
@media only screen and (max-width: 420px) {
    .item img.bgFood { width:80%; }
    #layerC img.bgFood { width:60% !important; }    

    #layerE div.col-sm
    {
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .item ul.foodInfo li.desc { font-size:10px; }
    
    #layerH .bg { height:70%; width: auto; }
    #layerH ul { width:70%; }
    #layerH ul li { display: inline-block;  }
    #layerH ul li:nth-child(1) { font-size:10vw; }
}

@media only screen and (max-width:570px)
{
    #layerB img.bgFood { width:50%; right:15px !important; }
    #layerC img.bgFood { width:50%; } 
}

/* Tablet */
@media only screen and (min-width:421px) and (max-width:690px)
{
    #layerB img.bgFood { width:40%; right:5px; }
    #layerC img.bgFood { width:60%; left:5px; }

    .item img.bgFood { width:80%; }
    .item ul.foodInfo li.desc { font-size:1.6vw; }
    
    #layerE div.col-sm { width:31% !important; margin: 0 15px 0 0 }
    .item.col { margin: 0 0px 0 0 !important; }
    
    #layerE div.col-sm.colLast,
    .item.colLast { margin: 0 0 15px 0 !important; }

    #layerE div.col-sm
    {
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    div.row { margin-bottom:15px !important; }

    .item ul.foodInfo li.desc { font-size:1.8vw; line-height:1.8vw; }

    /* #layerH .bg { height:70%; width: auto; } */
    #layerH ul { width:70%; }
    #layerH ul li { display: inline-block;  }
    #layerH ul li:nth-child(1) { font-size:14vw; }
}
@media only screen and (min-width:691px) and (max-width:940px)
{
    .item img.bgFood { width:80%; }
    .item ul.foodInfo li.desc { font-size:1.28vw; }
}