/****************************************
  Layer B : Random Food
 ****************************************/
#layerB ul.foodInfo { position: absolute; margin:0; padding:10% 7%; z-index:10; }
#layerB .foodInfo .rating,
#layerB .foodInfo .rating i { height:180%;  line-height: 180%; }
#layerB .views ul { display: inline-block; margin:10px 0; padding:0; }
#layerB .order button { padding:4%; width: 60%; }

#layerB ul,
#layerB li
{
    list-style: none;
}

#layerB .foodInfo .text
{
    font-size: .8em;
    font-weight: 600;
    color: #444;
}

#layerB .views .slash
{
    font-size: 30px;
    color:#666;
}

#layerB .order button
{
    border-radius:3px;
    background:#8BBF5D;
    font-size:14px;
    color:#fff;
    border:0px;
}

#layerB img.bgFood
{
    position: absolute;
    right:0;
    bottom:5px;
    width: 120px;
}


/****************************************
  layer D : Forms
 ****************************************/
#layerD { background: #8BBF5D; color:#777; }
#layerD textarea { padding-top:20px !important; }

#formLogin,
#signup,
#contactus,
#feedback
{
    width: 70%;
    margin: 100px auto;
    padding: 20px 20px 35px 20px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
}
#formLogin input,
#signup input,
#contactus input,
#contactus select,
#contactus textarea.message,
#contactus select[name="Purpose"],
#feedback textarea,
#feedback input[type=submit]
{
    display: block;
    width: 80%;
    height: 40px;
    line-height: 20px;
    margin: 20px auto;
    padding: 5px 15px;
    background: #eee;

    font-size: 16px;

    outline: none;
    border: 0px;
    border-left: 10px solid #eee;
}
#formLogin input:focus,
#signup input:focus,
#contactus input:focus,
#contactus textarea:focus,
#feedback textarea:focus
{
    border-left-color:orange;
}
#formLogin input[type="submit"],
#signup input[type="submit"],
#contactus input[type="submit"],
#feedback input[type="submit"]
{
    box-sizing: content-box;
    background: #8BBF5D;
    border-color:#8BBF5D;
    color:#fff;
}
#signup input[name="fname"],
#signup input[name="lname"],
#contactus input[name="name"],
#contactus input[name="email"],
#contactus input[name="phone"],
#contactus select[name="Purpose"]
{
    display: inline-block;
    margin-bottom:0;
    width:35%;
}
#contactus input[name="name"],
#contactus input[name="email"],
#contactus input[name="phone"],
#contactus select[name="Purpose"]
{
    margin-left:8px;
    margin-right:8px;
}

#formLogin span,
#signup span
{
    font-size: 12px;
}
#formLogin span a,
#signup span a
{
    color:#8BBF5D;
}

div.message.hide { display: none; }
div.message
{
    width: 70%;
    padding: 20px;
    margin: 40% auto;

    background: orange;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    text-align: center;
}

/****************************************
  FAQ
 ****************************************/
#layerD div.faq { width:100%; height:100%; border-radius: 3px; background:#fff; }
div.faq .title { width:100%; text-align:center; }
div.faq .listBox { height:500px; width:100%; overflow-y:scroll; }
div.faq ul.list { overflow-y:scroll; }
#layerD ul,
#layerD li
{
    list-style:none;
    margin:0;
    padding:0;
}

#layerD .faq .list { width:90%; margin:0 auto; }
#layerD .faq .list > li { border-bottom:1px solid #fff; }

#layerD .question.btn.btn-info,
#layerD .answer.collapse.in
{
    width:100%;
    border-radius: 0px;
}
#layerD .answer { line-height:30px; padding:10px }


/****************************************
  Contact us
 ****************************************/
#contactus,
#feedback
{ 
    width:100%;
    height:100%;
    margin:0;
    padding:0px;
    border-radius: 3px;
}
#contactus .title,
#feedback .title,
div.faq .title
{
    font-size:16px;
    height:50px;
    line-height: 50px;
    background:#8BBF5D;
    color: #fff;
    margin:0 0 20px 0;
    border-radius: 3px 3px 0 0;
}
#contactus select[name="Purpose"]
{
    height: 50px;
    width: 260px;
    border:0px;
    text-indent: 20px;
    color:#777;
}
#contactus textarea.message,
#feedback textarea.improvement
{
    width:80%;
    height:220px;
}


/****************************************
  Feedback
 ****************************************/
#feedback .radio
{
    width:80%;
    margin:20px auto;
    text-align:left;
}
#feedback input[type=radio]{ margin:5px; }
#feedback input:hover { cursor: pointer; }
#feedback .question 
{
    width:80%;
    margin:0 auto;
    font-weight: 600;
    text-align:left;
}
#feedback textarea.improvement { height: 100px; margin-bottom: 0; }
#feedback input[type=submit]{ width:80%; }
#feedback .limit
{
    text-align:right;
    padding-right:10%;
    margin-top:10px;
    font-size:12px;
}
#feedback .warning
{
    width:70%;
    margin:0px auto;
    line-height:20px;
    color:#fd4605;
    font-size:12px;
}

/****************************************
  Signup
 ****************************************/
#signup { margin-top:60px; padding-bottom: 20px; }

/****************************************
  layer E : Testmonial
 ****************************************/
#layerE { text-align:left; background:#FEC740; }
#layerE img.bg { position: absolute; right:0px; bottom:0px; width:170px; opacity: .6;}
#layerE p { margin: 16px 20px 0 16px; }


/****************************************
  layer H : Foods
 ****************************************/
#layerH h1
{
    padding: 20px 20px 10px;
    font-weight: 600;
}
#layerH table *,
#layerH table::after,
#layerH table::before{ box-sizing: border-box;} 
#layerH table { width:100%; font-size:10px; text-align:center; border-collapse: collapse; }
#layerH table th { font-size:12px; background:#8CBE62; padding:10px 0px; color:#fff; }
#layerH table td { padding:5px 0px; border-bottom: 1px solid #eee; height:40px; }

#layerH tr.selected { background:#FDC64E; color:#fff; }
#layerH tr:hover { background:#4ed5fd; }

#layerH img { /*width:50px; */ height:35px; }
#layerH button.add { margin:0px; padding:5px; border-radius:3px; background:#8DBD66; font-size:10px; }
#layerH button { border:0px; border-radius: 3px; padding:10px; font-size: 14px; color:#fff; }
#layerH button.decrease,
#layerH button.increase
{
    padding:0;
    width:15px;
    height:15px;
    line-height:15px;
    background: #aaa;
}
#layerH button.decrease { margin-right:5px; }
#layerH button.increase { margin-left:5px; }

#layerH .btns { width:250px; margin:0 auto; } 
#layerH button.myCart    { background: #FEC740; margin:10px 0px 10px 20px; }
#layerH button.emptyList { background: #999; margin:10px 20px 10px 0px; }

/****************************************
  Terms
 ****************************************/ 
 #terms
 {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #444;
    opacity: .97;
    z-index: 100;
}

#terms .content
{

    width: 80%;
    height: 80%;
    padding: 20px;

    overflow-y: scroll;
    border-radius: 10px;
    background: #fff;
    line-height: 25px;

    margin: 4% auto;
}

.terms_conditions:hover { cursor: pointer; }

/****************************************
  Tablet & Phone
 ****************************************/

@media only screen and (max-width:420px)
{
    #layerB img.bgFood { width:180px !important; }
}
@media only screen and (max-width:550px)
{
    #layerB img.bgFood { width:160px; }
    #layerE img.bg { width:300px; }
    #layerB ul.foodInfo { padding:5% 7%; }
}
@media only screen and (max-width:940px)
{
    #layerD #signup input,
    #layerD #contactus input,
    #layerD #contactus select
    { height:30px; }

    #layerD #signup input[name=fname],
    #layerD #signup input[name=lname],
    #layerD #contactus input
    { width:80%; }

    #layerD #contactus select { width:87%; }
    #layerD #contactus textarea { height:130px; }

    #layerD #feedback textarea { height:80px; }
    #layerD #feedback .warning { line-height:15px; }
}