/****************************************
  Layout
 ****************************************/
.layerFull { width: 100%; }
    .layerFull ul.tabContainer { display: inline-block;  margin:0; padding:0; overflow: hidden; }
        li.tab { float:left; height:40px; }
    div.tabContent.inline ul,
    div.tabContent.inline li {  }
    div.tabContent.inline ul { display: flex; padding:0; margin:0 auto; }
    div.tabContent.inline li { padding:10px 0; margin:0px; line-height:15px; }
    /* div.tabContent.inline ul:first-child li { line-height:15px; } */

        .myInfo > ul {  display: block;  padding:0;  }
        .myInfo ul li { display: block; width: 100%; clear: both; padding: 10px 0; margin: 10px 0; }
            .myInfo ul li div{ display:inline-block; padding:10px; }
            .myInfo ul li div.title { width:30%;  }
            .myInfo ul li div.value { margin-left:30px; }
        .contactus > ul { width:100%; }


/****************************************
  Design
 ****************************************/
.s_container div.layer.layerFull { border-radius: 8px; }

div.tabContent.inline div,
div.tabContent.inline li { text-align: center !important; }
ul { list-style-type: none; }

.layerFull > ul
{
    width: 100%;
    padding: 0;
    
    background:#1E2D3F;
    border:0px;
}

.layerFull.myinfo .myInfo
/* .layerFull.contactus .contactus,
.layerFull.feedback .feedback,
.layerFull.faq .faq,
.layerFull.member .member,
.layerFull.orders .orders */
{
    display:block;
}


/* Hightlight menu of current page */
.layerFull.myinfo .tabMyInfo,
.layerFull.contactus .tabContactus,
.layerFull.feedback .tabFeedback,
.layerFull.faq .tabFAQ,
.layerFull.member .tabMember,
.layerFull.orders .tabOrders
{
    background:orange;
}

/* Mouse over on menu */
/* .s_top li.about:hover,
.s_top li.food:hover,
.s_top li.delivery:hover,
.s_top li.faq:hover,
.s_top li.feedback:hover,
.s_top li.contactus:hover,
.s_top li.login:hover,
.s_top li.signup:hover */
.tabContainer .tab:hover
{
    background: #a3ca61;;
    cursor: pointer;
}

.tab
{
    display: block;
    line-height: 40px;
    padding: 0 10px;

    font-family: 'Poiret One', cursive;
    color:#fff;
    text-decoration: none;
    text-align: center;
    background:#293D57;
}

.tabContainer .tabMyInfo
{
    border-radius: 5px 0 0 0;
}

.tabContainer .tabOrders
{
    border-radius: 0 5px 0 0;
}

/****************************************
  My Info
 ****************************************/
.myInfo ul li div.title
{
    text-align: right;
    border-right: 7px solid orange;
}
.myInfo ul li div.value
{ 
    border-bottom: 1px solid green;
}
.myInfo ul li div.changePassword
{
    border-bottom: 0px;
}
.myInfo ul li div.title.changePassword
{
    float: left;
    height:190px;
}

.myInfo ul li div.value.changePassword input:first-child,
.myInfo ul li div.value.changePassword input:last-child
{
    margin-top:0;
}


.myInfo ul li div.value.changePassword input
{
    display: block;
    padding-left:0;

    width: 120px;
    height: 25px;
    line-height: 20px;
    margin: 10px auto;
    padding: 5px 15px;
}

.myInfo ul li div.value.changePassword input.btnChangePW
{
    
    box-sizing: content-box;
    background: #8BBF5D;
    color: #fff;
    display: block;

    border: 1px solid #8BBF5D;
}

input[type=submit]:hover
{
    background: #E53636 !important;
    border-color: #E53636 !important;
}

.myInfo ul li div.changePassword input:hover{ cursor: pointer; }

/****************************************
  Admin Common
 ****************************************/
div.tabContent.inline ul
 div.tabContent.inline ul li
{
    text-align: center;
}

div.tabContent.inline ul
{
    border-bottom:1px solid #eee;
}

div.tabContent.inline ul:last-child
{
    border-bottom:0px;
}


div.tabContent.inline ul li
{
    vertical-align: top;
}

div.tabContent.inline ul:first-child li
{
    vertical-align: middle;
}


div.tabContent.inline ul:first-child li:nth-child(1) { background:#00bfff; }
div.tabContent.inline ul:first-child li:nth-child(2) { background:#00ffb3; }
div.tabContent.inline ul:first-child li:nth-child(3) { background:#c300ff; }
div.tabContent.inline ul:first-child li:nth-child(4) { background:#e1ff00; }
div.tabContent.inline ul:first-child li:nth-child(5) { background:#fff200; }
div.tabContent.inline ul:first-child li:nth-child(6) { background:#ffaa00; }
div.tabContent.inline ul:first-child li:nth-child(7) { background:#ff6200; }
div.tabContent.inline ul:first-child li:nth-child(8) { background:#1500ff; }
div.tabContent.inline ul:first-child li:nth-child(9) { background:#ff0077; }
div.tabContent.inline ul:first-child li:nth-child(10) { background:#493c4e; }

div.tabContent.inline ul li:nth-child(1) { border-left:0px solid #00bfff; }
div.tabContent.inline ul li:nth-child(2) { border-left:1px solid #00ffb3; }
div.tabContent.inline ul li:nth-child(3) { border-left:1px solid #c300ff; }
div.tabContent.inline ul li:nth-child(4) { border-left:1px solid #e1ff00; }
div.tabContent.inline ul li:nth-child(5) { border-left:1px solid #fff200; }
div.tabContent.inline ul li:nth-child(6) { border-left:1px solid #ffaa00; }
div.tabContent.inline ul li:nth-child(7) { border-left:1px solid #ff6200; }
div.tabContent.inline ul li:nth-child(8) { border-left:1px solid #1500ff; }
div.tabContent.inline ul li:nth-child(9) { border-left:1px solid #ff0077; }
div.tabContent.inline ul li:nth-child(10) { border-left:1px solid #493c4e; }




/****************************************
  Contact us
 ****************************************/

div.contactus.tabContent.inline ul li:nth-child(1) { flex-grow:1; flex-basis:0px; }
div.contactus.tabContent.inline ul li:nth-child(2) { flex-grow:1; flex-basis:0px; }
div.contactus.tabContent.inline ul li:nth-child(3) { flex-grow:5; flex-basis:0px; }
div.contactus.tabContent.inline ul li:nth-child(4) { flex-grow:7; flex-basis:0px; }
div.contactus.tabContent.inline ul li:nth-child(5) { flex-grow:5; flex-basis:0px; }
div.contactus.tabContent.inline ul li:nth-child(6) { flex-grow:3; flex-basis:0px; }
div.contactus.tabContent.inline ul li:nth-child(7) { flex-grow:8; flex-basis:0px; }
div.contactus.tabContent.inline ul li:nth-child(8) { flex-grow:1; flex-basis:0px; }
div.contactus.tabContent.inline ul li:nth-child(9) { flex-grow:3; flex-basis:0px; }
 

 /****************************************
  Feedback
 ****************************************/
div.feedback.tabContent.inline ul li:nth-child(1) { flex-grow:1; flex-basis:0px; }
div.feedback.tabContent.inline ul li:nth-child(2) { flex-grow:1; flex-basis:0px; }
div.feedback.tabContent.inline ul li:nth-child(3) { flex-grow:2; flex-basis:0px; }
div.feedback.tabContent.inline ul li:nth-child(4) { flex-grow:8; flex-basis:0px; }
div.feedback.tabContent.inline ul li:nth-child(5) { flex-grow:3; flex-basis:0px; }

 /****************************************
  Faq
 ****************************************/
div.faq.tabContent.inline ul li:nth-child(1) { flex-grow:1; flex-basis:0px; }
div.faq.tabContent.inline ul li:nth-child(2) { flex-grow:1; flex-basis:0px; }
div.faq.tabContent.inline ul li:nth-child(3) { flex-grow:6; flex-basis:0px; }
div.faq.tabContent.inline ul li:nth-child(4) { flex-grow:6; flex-basis:0px; }
div.faq.tabContent.inline ul li:nth-child(5) { flex-grow:3; flex-basis:0px; }

 /****************************************
  Member
 ****************************************/
div.member.tabContent.inline ul li:nth-child(1) { flex-grow:1; flex-basis:0px; }
div.member.tabContent.inline ul li:nth-child(2) { flex-grow:1; flex-basis:0px; }
div.member.tabContent.inline ul li:nth-child(3) { flex-grow:5; flex-basis:0px; }
div.member.tabContent.inline ul li:nth-child(4) { flex-grow:5; flex-basis:0px; }
div.member.tabContent.inline ul li:nth-child(5) { flex-grow:7; flex-basis:0px; }
div.member.tabContent.inline ul li:nth-child(6) { flex-grow:4; flex-basis:0px; }
div.member.tabContent.inline ul li:nth-child(7) { flex-grow:2; flex-basis:0px; }
div.member.tabContent.inline ul li:nth-child(8) { flex-grow:3; flex-basis:0px; }

 /****************************************
  Orders
 ****************************************/

.admin div.orders.tabContent.inline ul li:nth-child(1) { flex-grow:1; flex-basis:0px; }
.admin div.orders.tabContent.inline ul li:nth-child(2) { flex-grow:1; flex-basis:0px; }
.admin div.orders.tabContent.inline ul li:nth-child(3) { flex-grow:1; flex-basis:0px; }
.admin div.orders.tabContent.inline ul li:nth-child(4) { flex-grow:3; flex-basis:0px; }
.admin div.orders.tabContent.inline ul li:nth-child(5) { flex-grow:1; flex-basis:0px; }
.admin div.orders.tabContent.inline ul li:nth-child(6) { flex-grow:4; flex-basis:0px; }
.admin div.orders.tabContent.inline ul li:nth-child(7) { flex-grow:2; flex-basis:0px; }
.admin div.orders.tabContent.inline ul li:nth-child(8) { flex-grow:2; flex-basis:0px; }
.admin div.orders.tabContent.inline ul li:nth-child(9) { flex-grow:3; flex-basis:0px; }

.mypage div.orders.tabContent.inline ul li:nth-child(1) { flex-grow:1; flex-basis:0px; }
.mypage div.orders.tabContent.inline ul li:nth-child(2) { flex-grow:1; flex-basis:0px; }
.mypage div.orders.tabContent.inline ul li:nth-child(3) { flex-grow:4; flex-basis:0px; }
.mypage div.orders.tabContent.inline ul li:nth-child(4) { flex-grow:4; flex-basis:0px; }
.mypage div.orders.tabContent.inline ul li:nth-child(5) { flex-grow:2; flex-basis:0px; }
.mypage div.orders.tabContent.inline ul li:nth-child(6) { flex-grow:4; flex-basis:0px; }
.mypage div.orders.tabContent.inline ul li:nth-child(7) { flex-grow:2; flex-basis:0px; }

div.orders.tabContent.inline ul:hover { background:#eee; cursor: pointer; }
div.orders.tabContent.inline ul:hover button { background:#fff !important; }
div.orders.tabContent.inline ul:hover button:hover,
div.orders.tabContent.inline ul button:hover
{
    cursor: pointer;
    background:orange !important;
    border-color:orange !important;

    border-radius: 3px;
}

div.orders.tabContent.inline ul.processing { background:#f4ffd5; }

div.orders.tabContent.inline ul li img { width:90%; }
div.orders.tabContent.inline button
{
    background:#eee !important;
    border-color:#eee !important;
    border-radius: 3px;
    text-decoration: none;
    border: none;
    padding:10px 15px;
}


div.orders.tabContent.inline li span.processing
{
    color:orange;
    font-weight: 600;
}
div.orders.tabContent.inline li span.canceled
{
    color:#E53636;   
    color:#fee9ad;      
}
div.orders.tabContent.inline li span.completed
{
    color:#aaa;
}
div.orders.tabContent.inline li span
{
    text-transform:capitalize;
}


/****************************************
  Tablet & Phone
 ****************************************/
 /* Phone */
 @media only screen and (max-width:420px) {}
 @media only screen and (max-width:690px)
 {
    li { font-size:2vw; }
 }
 
 @media only screen and (min-width:421px) and (max-width:690px){}
 @media only screen and (max-width:920px)
 {
    .s_main { width: 97%; }
 }